.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 22px 25px 22px;
}

@media screen and (min-width: 720px) {
  .form {
    padding: 34px 36px 36px 36px;
  }
}