.form__save-button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  width: 238px;
  height: 46px;
  margin-top: 48px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form__save-button:hover {
  opacity: .8;
}

@media screen and (min-width: 720px) {
  .form__save-button {
    width: 358px;
    height: 50px;
    margin-top: 45px;
  }
}