.element__like-button {
  background: url(/images/heart_icon.svg) center no-repeat;
  min-height: 19px;
  min-width: 21px;
  border: none;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: .7;
}

.element__like-button_active {
  transition: 0.1s;
  opacity: 1;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg) center no-repeat;
}