.element__remove-button {
  background: url(../../images/trash_icon.svg) center no-repeat;
  min-height: 19px;
  min-width: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}