.form__description {
  width: 236px;
  height: 27px;
  margin-top: 30px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  opacity: 0.8;
}

.form__description:invalid {
  border-bottom: 1px solid red;
}

@media screen and (min-width: 720px) {
  .form__description {
    width: 356px;
  }
}