@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/header.css");
@import url("../blocks/header__logo.css");

@import url("../blocks/profile.css");
@import url("../blocks/profile__image.css");
@import url("../blocks/profile__info.css");
@import url("../blocks/profile__title.css");
@import url("../blocks/profile__description.css");
@import url("../blocks/profile__edit-button.css");
@import url("../blocks/profile__add-button.css");

@import url("../blocks/elements.css");
@import url("../blocks/element__list.css");
@import url("../blocks/element__container.css");
@import url("../blocks/element__img.css");
@import url("../blocks/element__description.css");
@import url("../blocks/element__text.css");
@import url("../blocks/element__like-button.css");
@import url("../blocks/element__remove-button.css");

@import url("../blocks/footer.css");
@import url("../blocks/footer__copyright.css");

@import url("../blocks/form.css");
@import url("../blocks/form__title.css");
@import url("../blocks/form__name.css");
@import url("../blocks/form__description.css");
@import url("../blocks/form__save-button.css");
@import url("../blocks/form__exit-button.css");
@import url("../blocks/form__place.css");
@import url("../blocks/form__image-link.css");

@import url("../blocks/popup.css");
@import url("../blocks/popup__container.css");
@import url("../blocks/popup__image.css");
@import url("../blocks/popup__error.css");
@import url("../blocks/popup__button_disabled.css");

body {
  background-color: #000000;
  color: white;
  margin: 0 auto;
}