@import url("normalize.css");
@import url("../fonts/inter.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/profile__image.css");
@import url("../blocks/profile/profile__info.css");
@import url("../blocks/profile/profile__title.css");
@import url("../blocks/profile/profile__description.css");
@import url("../blocks/profile/profile__edit-button.css");
@import url("../blocks/profile/profile__add.css");

@import url("../blocks/elements/elements.css");
@import url("../blocks/elements/element__list.css");
@import url("../blocks/elements/element__container.css");
@import url("../blocks/elements/element__img.css");
@import url("../blocks/elements/element__description.css");
@import url("../blocks/elements/element__text.css");
@import url("../blocks/elements/element__like-button.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/footer__copyright.css");

@import url("../blocks/form/form.css");
@import url("../blocks/form/form__title.css");
@import url("../blocks/form/form__name.css");
@import url("../blocks/form/form__description.css");
@import url("../blocks/form/form__save-button.css");
@import url("../blocks/form/form__exit-button.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/popup__container.css");

body {
  background-color: #000000;
  color: white;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  body {
    /* width: 880px; */
    /* padding-left: 200px;
    padding-right: 200px; */
    padding: 0 auto;
  }
}

