@import url("normalize.css");
@import url("../fonts/inter.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__image/profile__image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__title/profile__title.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__add/profile__add.css");

@import url("../blocks/elements/elements.css");
@import url("../blocks/elements/__list/element__list.css");
@import url("../blocks/elements/__container/element__container.css");
@import url("../blocks/elements/__img/element__img.css");
@import url("../blocks/elements/__description/element__description.css");
@import url("../blocks/elements/__text/element__text.css");
@import url("../blocks/elements/__like-button/element__like-button.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

@import url("../blocks/form/form.css");
@import url("../blocks/form/__container/form__container.css");
@import url("../blocks/form/__title/form__title.css");
@import url("../blocks/form/__name/form__name.css");
@import url("../blocks/form/__description/form__description.css");
@import url("../blocks/form/__save-button/form__save-button.css");
@import url("../blocks/form/__exit-button/form__exit-button.css");

body {
  background-color: #000000;
  color: white;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  body {
    /* width: 880px; */
    padding-left: 200px;
    padding-right: 200px;
  }
}

