<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alrededor de los EE.UU.</title>
  <link rel="shortcut icon" href="icono/favicon.ico">
  <link rel="stylesheet" href="pages/index.css">
</head>
<body>
  <header class="header">
    <img class="header__logo" src="<%= require('./images/logo_aroundus.svg')%>" alt="logo around the world USA">
  </header>
  <main class="content">
    <section class="profile">
      <img class="profile__image" src="<%= require('./images/jacques.png')%>" alt="profile avatar">
      <div class="profile__info">
        <h1 class="profile__title">Jacques Cousteau</h1>
        <h2 class="profile__description">Explorer</h2>
        <button class="profile__edit-button"></button>
      </div>
      <button class="profile__add-button"></button>
    </section>
    <section class="elements">
      <ul class="elements__list">
      </ul>
    </section>
  </main>
  <footer class="footer">
    <p class="footer__copyright">&copy; 2023 Around The U.S.</p>
  </footer>

  <!-- FORMS -->

  <div class="popup" id="popup-edit-profile">
    <div class="popup__container">
      <form class="form popup__form" id="form_edit-profile" novalidate>
        <button type="button" class="form__exit-button"></button>
        <h2 class="form__title">Editar perfil</h2>
        <input
              class="form__name popup__input"
              id="form__name"
              type="text"
              name="name"
              placeholder="Nombre"
              maxlength="40"
              minlength="2"
              required
            >
            <span class="popup__error form__name-error"></span>
        <input
              class="form__description popup__input"
              id="form__description"
              type="text"
              name="description"
              placeholder="Descripción"
              maxlength="200"
              minlength="2"
              required
            >
            <span class="popup__error form__description-error"></span>
        <button class="popup__button form__save-button" id="save_profile">Guardar</button>
      </form>
    </div>
  </div>

  <div class="popup" id="popup-add-place">
    <div class="popup__container">
      <form class="form popup__form" id="form_add-element" novalidate>
        <button type="button" class="form__exit-button"></button>
        <h2 class="form__title">Nuevo lugar</h2>
        <input
              class="form__place popup__input"
              id="form__place"
              type="text"
              name="place"
              placeholder="Título"
              minlength="2"
              maxlength="30"
              required
            >
            <span class="popup__error form__place-error"></span>
        <input
              class="form__image-link popup__input"
              id="form__image-link"
              type="url"
              name="link"
              placeholder="Enlace de la imagen"
              required
            >
            <span class="popup__error form__image-link-error"></span>
        <button class="popup__button form__save-button" id="save_place">Crear</button>
      </form>
    </div>
  </div>


  <!-- POPUP IMAGE -->
  
  <div class="popup" id="popup-image-container">
    <div class="popup__container-image">
      <button class="form__exit-button" id="form__exit-button"></button>
      <img class="element__img element__img_popup" id="popup__image" src="#" alt="">
      <h3 class="element__text_popup" id="popup__caption"></h3>
    </div>
  </div>


  <!-- CARDS TEMPLATE -->
  
<template id="card-template">
  <li class="element__card">
    <div class="element__container">
      <img class="element__img" src=" " alt="">
      <div class="element__description">
        <h2 class="element__text"></h2>
        <button class="element__like-button"></button>
        <button class="element__remove-button"></button>
      </div>
    </div>
  </li>
</template>

</body>
<script src="scripts/index.js" type="module"></script>
</html>